<div class="intro-title animate__animated  animate__fadeInLeft">
	<%- theme.indexdescription %>
</div>
<div class="intro-sub animate__animated  animate__fadeInLeft">
	<p>
		<%- theme.Subtitle %>
	</p>
</div>

<%- partial('_partial/home', {pagination: config.archive, index: true}) %>