<nav id="site-nav">
    <h1 class="nav-title" >
        <a href="/"><%- theme.title %></a>
    </h1>
    <menu id="site-nav-menu" class="flyout-menu menu">
        <% for ( menu in theme.menus ) { %>
                <a href="<%- theme.menus[menu] %>" class="nav link"><%- menu %></a>
        <% } %>
    </menu>
</nav>

