/* 全局 */
html {
    color: #ffffff;
    background: #242424;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 500ms ease;
    font-family: Consolas, 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    font-size: 18px;
}

body {
    max-width: 800px;
    padding: 0 14px;
    margin: 0 auto;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 全局 */
/* 导航 */
.header {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 10px;
    user-select: none;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}

.header a {
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.header .menu {
    margin-right: -9px;
    text-align: right;
    user-select: none;
}

.header .menu a {
    display: inline-block;
    font-size: 16px;
    margin: 4px 9px;
    white-space: nowrap;
    user-select: auto;
}

.hover-underline {
    position: relative;
}

/* 导航 */

/* 主页 */
.intro-title{
    font-family: Gothic,'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    font-size: 1.2em;
    font-weight: 1000;
    margin: 0;
    padding: 0;
    color: rgb(177, 177, 177);
}

.intro-sub{
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: rgb(177, 177, 177);
}

#post {
    padding: 22px 0 22px;
}

.readmore {
    float: right;
    color:rgb(165, 165, 165);
    font-size: 15px;
}

.archive-year {
    font-size: 18px;
    color: rgb(230, 230, 230);
    font-size: 30px;
}

.archive-article-title {
    color: rgb(219, 219, 219);
    font-weight: bold;
    font-size: 24px;
}

.article-digest {
    color: rgb(128, 128, 128);
    font-family: 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif ;
    font-size: 18px;
}

#post-box {
    padding-left: 15px;
}

.archive-article-date {
    margin-right: 10px;
    color: rgb(201, 201, 201);
    font-size: 20px;
}

/* 主页 */

/* 文章 */

#article img {
    box-shadow: none;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

#article {
    font-family: "PT Serif",Georgia,"Times New Roman",seri
}

#post-head {
    text-align: center;
}

#post-date {
    padding-left: 30px;
    color: #999;
    position: absolute;
}
/* 文章 */

/* 页码 */
#page-nav {
    text-align: center;
    padding-top: 20px;
    font-size: 1.2em;
    color: hsl(0, 0%, 100%);
}

.page-number {
    margin-left: 4px;
    margin-right: 4px;
}

.extend {
    margin-right: 6px;
    margin-left: 6px;
    padding-bottom: 30px;
}
/* 页码 */

/* 页脚 */
#site-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: rgb(177, 177, 177);
}
/* 页脚 */

/* 滑动条 */
::-webkit-scrollbar {
    width: 3px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
45deg
, Cyan 0%, Magenta 50%, Yellow 100%);
}
/* 滑动条 */


.tags {
    padding-left: 1rem;
    border-left: 1px solid var(--main-border-color);
}