<div id="article">
  <div id="post-head">
    <span id="post-title"><%- page.title %></span>
    <span id="post-date"><%- date(page.date, "YYYY-MM-DD" ) %></span>
  </div>
</div>

<div id="article">
	<%- page.content %>
</div>
<article class="comments" id="comments">
  <%- partial('comments/valine') %>
</article>
